*{
  
font-family: 'Roboto', sans-serif;
}
 
/* Banner Start */

#banner{
  background-image: url(../images/banner/banner3.png);
  height: 810px;
}

.container{
  color: #fff;
  margin-left:800px;
  margin-right:100px;
  padding-top:200px;
  padding-left: 50px;
  text-align:right;
}
header h1{
  font-size:60px;
}
#btn-banner{
  padding: 5px 10px;
}

/* failure-list */

#failure{
  display:flex;
  justify-content:center;
  margin:130px;
  
  
}
#failure-list{
  padding-top:300px;
  padding-left:50px;
  
}
#failure-list h1{
  font-size:40px;

}

#plan-container{
  margin: 130px 200px;

}

#plan-container h1{
  text-align:center;
  margin-bottom:50px;
}

#myplan{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  justify-content:center;
  text-align:center;
}